/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.titulo{
	-fx-font-family: tahoma; 
	-fx-background-color: blue; 
	-fx-background-color: red;	
}
